In [2]:
# !pip install python-dotenv
import os
from dotenv import load_dotenv
load_dotenv()

DB_NAME = os.getenv("DB_NAME")
DB_USER = os.getenv("DB_USER")
DB_PASSWORD = os.getenv("DB_PASSWORD")
DB_HOSTNAME = os.getenv("DB_HOSTNAME")

%load_ext sql

In [3]:
%sql postgresql://$DB_USER:$DB_PASSWORD@$DB_HOSTNAME/$DB_NAME

### List the table in database

In [10]:
%sql SELECT * FROM sales_data LIMIT 5;

 * postgresql://postgres:***@127.0.0.1/sales
5 rows affected.

[(6739, 76305, 230, 1, datetime.datetime(2020, 9, 5, 16, 20, 3)),
 (7460, 81008, 1455, 4, datetime.datetime(2020, 9, 5, 16, 20, 4)),
 (6701, 7556, 1159, 2, datetime.datetime(2020, 9, 5, 16, 20, 5)),
 (8021, 36492, 3727, 2, datetime.datetime(2020, 9, 5, 16, 20, 6)),
 (6442, 11282, 4387, 5, datetime.datetime(2020, 9, 5, 16, 20, 7))]

### Find out the count of records in the tables sales_data.

In [11]:
%sql SELECT COUNT(*) FROM sales_data;

 * postgresql://postgres:***@127.0.0.1/sales
1 rows affected.

[(2605,)]

##### Create an index named ts on the timestamp field.

In [12]:
%sql CREATE INDEX ts ON sales_data(timestamp);

 * postgresql://postgres:***@127.0.0.1/sales
Done.

[]

##### List index

In [16]:
%sql SELECT * FROM pg_indexes WHERE tablename = 'sales_data';

 * postgresql://postgres:***@127.0.0.1/sales
1 rows affected.

[('public', 'sales_data', 'ts', None, 'CREATE INDEX ts ON public.sales_data USING btree ("timestamp")')]